$first-color: #d627aa
$second-color: #217aeb
$third-color: #661fed
$fourth-color: #e3971e

$text-color: #eee

body
	color: $text-color

main
	background: linear-gradient($second-color, $first-color)
	height: 100vh

footer
	a: $text-color
	color: $text-color