$first-color: #d627aa
$second-color: #217aeb
$third-color: #661fed
$fourth-color: #e3971e

$white: #fff
$text-color: #eee

body, .container
	color: $text-color
	padding: 0
	margin: 0
	font-family: Verdana, Geneva, Tahoma, sans-serif
	font-size: 10px

nav
	background-color: $third-color
	color: $text-color
	height: 43px
	font-size: 1.3em
	list-style-type: none
	display: flex
	justify-content: space-evenly
	align-items: center
	input
		width: 86px
		border: 0px
		border-radius: 100px
		text-align: center

nav li
	padding: 1em

nav li a
	color: $text-color
	text-decoration: none

nav span .fa
	color: $fourth-color
	margin-left: 0.5em

main
	background: linear-gradient($second-color, $first-color)
	height: calc(100vh - 43px)
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

h1
	text-align: center

.profile-pic-container .profile-pic
	border-radius: 1000px
	max-width: 200px
	max-height: 200px

.summary
	margin-top: 1.5em
	text-align: center

ul
	list-style-type: none
	padding: 0
	margin: 0

.detail
	font-style: italic

.description
	max-width: 700px
	margin: 1.5em
